{% extends 'accounts/auth_base.html' %}
{% block title %}HireWave | Reset Password{% endblock %} 
{% block content %}
          <!-- Right Side Start -->
          <div class="col-12 col-lg-auto h-100 pb-4 px-4 pt-0 p-lg-0">
            <div class="sw-lg-70 min-h-100 bg-foreground d-flex justify-content-center align-items-center shadow-deep py-5 full-page-content-right-border">
              <div class="sw-lg-50 px-5">
                <div class="sh-11">
                  <a href="index.html">
                    <div class="logo-default"></div>
                  </a>
                </div>
                <div class="mb-5">
                  <h2 class="cta-1 mb-0 text-primary">Password trouble?</h2>
                  <h2 class="cta-1 text-primary">Renew it here!</h2>
                </div>
                <div class="mb-5">
                  <p class="h6">Please use below form to reset your password.</p>
                  <p class="h6">
                    If you are a member, please
                    <a href="{% url 'accounts:login' %}">login</a>
                    .
                  </p>
                </div>
                <div>
                    {% if messages %}
                    <div id="alert-container" class="alert-container">
                      {% for message in messages %}
                      <div class="alert alert-danger" role="alert">{{ message }}</div>
                      {% endfor %}
                    </div>
                    {% endif %}
                  <form id="resetForm" class="tooltip-end-bottom" method="POST">
                    {% csrf_token %}
                    <div class="mb-3 filled">
                      <i data-acorn-icon="lock-off"></i>
                      <input class="form-control" id="password" name="new_password" type="password" placeholder="Password" />
                      {% if form.new_password.errors %}
                        <div class="error text-danger">
                            {% for error in form.new_password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                    <div class="mb-3 filled">
                      <i data-acorn-icon="lock-on"></i>
                      <input class="form-control" name="confirm_password" type="password" placeholder="Confirm Password" />
                      {% if form.confirm_password.errors %}
                        <div class="error text-danger">
                            {% for error in form.confirm_password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Reset Password</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Side End -->
{% endblock %}
